@import 'styles/breakpoints';

.component {
	color: var(--wpe--header--color);
	//background-color: var(--wpe--header--background-color);
	background: #231f20;
	position: relative;
	z-index: 2; // Pull dropdown menus to the foreground to sit above <Main />.
}

.navbar {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 1rem 0;
	gap: 1rem;
}

.brand {
	font-weight: var(--wpe--font-weight--bold);
	font-size: 1.6rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.title {
	text-decoration: none;
}

.description {
	margin: .3rem 0 0 0;
	font-size: 0.8rem;
	opacity: 0.9;
}

.nav-toggle {
	align-items: center;
	background-color: transparent;
	border: 0.1rem solid var(--wpe--color--white);
	color: var(--wpe--color--black);
	cursor: pointer;
	display: flex;
	margin: 0;
	padding: 0.5rem 1rem;
	transition: all 0.2s ease-in;
	user-select: none;
	font-size: 2rem;

	&:hover,
	&:focus {
		background-color: var(--wpe--color--white);
		color: var(--wpe--color--black);
	}

	@media (min-width: $breakpoint-small) {
		display: none !important;
	}
}

.primary-navigation {
	display: none;
	width: 100%;

	&.show {
		display: block;
	}

	@media (min-width: $breakpoint-small) {
		display: block;
		width: auto;
	}
}

.scroll {
	white-space: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	overflow: auto;
	white-space: nowrap;
}

// Example two required styles --------------- /
.example-two-header {
	.logo {
		width: 25%; }
	nav {
		width: 75%; } }

// Example three required styles --------------- /
.example-three {
	.logo,
	nav {
		width: 100%; }

	.nav-item {
		color: #f6f7ee; } }

// Shared styles --------------- /
//header {
//	background: #152637; }

// Examples
.example-one-header,
.example-two-header {
	border-radius: 3px; }

.example-three-header {
	border-radius: 3px 3px 0 0; }

.example-three nav {
	background: #727c87;
	white-space: nowrap;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	border-radius: 0 0 3px 3px; }

// Logo
.logo {
	text-align: center; // only effective in example 2/3
	font-weight: 700;
	color: #727c87;
	border-right: 1px solid rgba(#727c87, .4);
	padding: 12px 24px 13px; }

// Nav items
.nav-item {
	padding: 12px 16px 13px;

	&:not(:last-child) {
		border-right: 1px solid rgba(#727c87, .2); } }

// Setup/misc styles --------------- /
//* {
//	box-sizing: border-box; }

//body {
//	font-family: -apple-system, BlinkMacSystemFont,
//	"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
//	"Fira Sans", "Droid Sans", "Helvetica Neue",
//	sans-serif;
//	max-width: 360px;
//	margin: 10vmin auto 0;
//	color: #64cce3;
//	line-height: 1.5; }

// Remove the inline-block extra space
//header,
//nav {
//	font-size: 0; }

// Requires font size to be reset for these elements
.logo,
.nav-item {
	font-size: 14px; }

.logo,
.nav-item,
.vertical-align-middle {
	display: inline-block;
	vertical-align: middle; }

.title {
	margin: 24px 0 6px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: .2em;
	color: #999; }

// Demo purposes only, proceed with caution on Windows!
.scroll::-webkit-scrollbar {
	display: none; }

.thisclass a:hover {
	color: #03146e;
}